@{
    Layout = "~/Views/Shared/_LayoutShort.cshtml";
}

<div class="blog" id="accessories">
    <h3>Аксессуары из мериноса</h3>
    <small></small>
    <p class="subtitle"></p>

    <div class="container">
        <div class="col-md-12">
            <p>
                В нашем магазине постоянно обновляется и расширяется
                ассортимент аксессуаров из шерсти мериноса.<br />
                Под брендом <strong>VER*ona</strong> Вы уже можете приобрести у нас новые
                интересные модели шапок, шарфов и снудов из пряжи ручного
                окрашивания!<br />
                Пряжа из мериноса, окрашенного в ручную, позволяет создать
                уникальные изделия для девушек, которые ценят
                индивидуальность!<br />
                Следите за новинками!<br />
                Они быстро исчезают из продажи!
            </p>
        </div>
        <div class="col-md-6">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/scarf_braid.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шарф коса</h4>
                    <span></span>
                    <p>
                        Шарф коса – общая длина этого уютного создания 3 м!
                        Универсальный модный шарф-коса подходит как девушкам, там и мужчинам.
                    </p>
                    <div class="icons">
                        2000 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/scarf.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шарф</h4>
                    <span></span>
                    <p>

                    </p>
                    <div class="icons">
                        2000 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/snud.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Снуд</h4>
                    <span></span>
                    <p>
                        Oбъем 60см
                    </p>
                    <div class="icons">
                        1800 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/snud_1.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Снуд</h4>
                    <span></span>
                    <p>
                        Модные  теплые снуды  крупной вязки - тренд года.  Разные модели, на любой вкус.
                        Снуд  связан руками из 100% шерсти мериноса. Уютный, нежный и совсем не колючий.
                        Снуд  выполнен в один оборот, общая длина 70см, ширина 20см
                    </p>
                    <div class="icons">
                        2000 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/hat.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка Хельсинки</h4>
                    <span></span>
                    <p>
                        Шапка Хельсинки без отворота
                    </p>
                    <div class="icons">
                        1800 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        @*<div class="col-md-6">
                <div class="item-container">
                    <div class="blog-img">
                        <img src="images/items/cardigan.jpg" alt="" class="img-responsive" />
                    </div>
                    <div class="img-desc">
                        <h4>Кардиган</h4>
                        <span></span>
                        <p>
                            Кардиган - бомбер с рукавом-колоколом 3/4, выполнен  в крупной вязке  из толстой пряжи мериноса.
                            Когда хочется обновить свой гардероб, порадовать себя уютной модной вещью, а  также  завладеть взглядами поклонников и  менее удачливых модниц...
                            Размер кардигана 42-46.
                        </p>
                        <div class="icons">
                            7000 ₽
                        </div>
                        <a class="date" href="#contact" title="">Купить</a>
                    </div>
                </div>
            </div>*@
        <div class="col-md-6">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/hat_1.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка Gloris (с помпоном)</h4>
                    <span></span>
                    <p>
                        Шикарная шапка из натуральной шерсти мериноса ручной окраски с большим помпоном из  натурального енота в цвете мультиколор.
                        Полностью ручная работа от покраски пряжи до финального ВТО изделия.
                        Размер 54-57.
                        Помпон снимается.
                        В единственном экземпляре!
                    </p>
                    <div class="icons">
                        3500 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/scarf_big.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Большой шарф</h4>
                    <span></span>
                    <p>
                        Модный и стильный шарф для любой непогоды.
                        В наших широтах без такого уютного аксессуара не обойтись.
                        Шарф из 100% мериноса, ручная вязка. Общая длина 180см.
                    </p>
                    <div class="icons">
                        3000 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/pillow_h.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка Хельсинки с помпоном из меха</h4>
                    <span></span>
                    <p>
                        К излюбленной классической модели мы решили добавить помпон из натурального меха.
                        Маленькое обновление для тех, кто любит разнообразие.
                    </p>
                    <div class="icons">
                        2300 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/hat_galaxy.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка Galaxy</h4>
                    <span></span>
                    <p>
                        Молодежная  модель с удлиненной макушкой или иначе  шапка - носок.
                        Спущенный затылок остается в тренде в этом сезоне.
                        Идеальна на весну и осень.  Шапочка   мягкая , объемная  с легким  серебристым блеском и нежным пушком альпаки.
                        Модель выполнена из итальянской пряжи , в составе которой: 26% альпака, 4% меринос, 70% вискоза.
                        Размер оверсайз.
                        Информацию о наличие оттенков на заказ уточняйте, пожалуйста,  у менеджера.
                    </p>
                    <div class="icons">
                        2700 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/hat_Beanie.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка Beanie (Mosaic)</h4>
                    <span></span>
                    <p>
                        Классическая шапка-бини без отворота, выполненная из пряжи ручного окрашивания, в составе которой 100% шерсть австралийского мериноса класса «EXTRAFINE».
                        Нежнейшая текстура и яркая мозаика красок сделают ее Вашем фаворитов среди головных уборов.
                        Размер оверсайз.
                        Сезон : весна-осень
                        В наличии несколько оттенков.
                    </p>
                    <div class="icons">
                        3000 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/hat_Julie.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка Julie (в стиле Такори)</h4>
                    <span></span>
                    <p>
                        Эта стильная , элегантная модель с удлиненной макушкой выполнена с 3-м отворотом, очень воздушная  и нежная , как и ее потенциальная обладательница.
                        Шапка в стиле Такори прекрасно будет смотреться как с кашемировым пальто, так и пуховиком.
                        Модель выполнена из итальянской пряжи , в составе которой: 75% супер кид мохера, 25% шелка.
                        Такори - это универсальный и практичный выбор для девушек, следящих за современными тенденциями моды.
                    </p>
                    <div class="icons">
                        3500 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_OrderFormPartial", new List<PledDream.Models.Color>())