@model PledDream.Models.MainViewModel

@{
    Layout = "~/Views/Shared/_LayoutShort.cshtml";
}

<div class="blog">
    <h3>Шапки из перуанской пряжи</h3>
    <small></small>
    <div class="container">
        <div class="col-md-12">
            <p>
                Мы хотим познакомить Вас с по-настоящему драгоценной пряжей из шерсти
                перуанских овечек.<br />
                Что это за шерсть и зачем она нужна?<br />
                Часто кожа представительниц прекрасного пола отличается повышенной
                чувствительностью к самым разным материалам и составам, в том числе и к
                натуральной шерсти…<br />
                Вам знакомо ощущение, когда что-то где-то колется, «кусается» или
                раздражает?<br />
                Но с наступлением холодов шерстяные вещи становятся самыми
                незаменимыми и нужными в нашем гардеробе. А хочется, чтобы они были
                еще и самыми уютными, и любимыми.<br />
                Вот и приходит на помощь к Вам наши вязаные сокровища из перуанской
                шерсти.<br />
                Перуанская шерсть – это шерсть высокогорных перуанских овец, живущих в
                Андах. Она имеет гладкую шелковистую структуру и обладает уникальными
                теплосберегающими и терморегулирующими свойствами - согревает в
                самые сильные морозы и в тоже время не допускает перегрева.
                Перуанская шерсть не колется и отлично подходит даже для людей с
                чувствительной кожей. Шапки, снуды, шарфы и кардиганы из этой шерсти
                получаются мягкие, объемные, уютные и невероятно теплые, а также
                модные и яркие.<br />
                В нашем ассортименте широкая палитра актуальных в этом сезоне оттенков
                для самых требовательных!<br />
                Выбирая лучшие по качеству и составу материалы от известных
                производителей Италии, Испании, Германии и Перу мы в ручную создаем
                каждое изделие, с душой и вниманием к деталям.<br />
                Не упустите возможность стать обладателем аксессуаров ручной работы и
                поверьте, Вы будете притягивать восхищенные взгляды!
            </p>
        </div>
    </div>
</div>

<div class="colors">
    <div class="about-colors">
        <h3>Цвета</h3>
        <small></small>
        <br />
        <p class="subtitle">У нас в ассортименте около 30 потрясающих оттенков пряжи на любой вкус</p>
        <div class="container">
            @foreach (var item in Model.Colors_Peru.OrderBy(s => s.index))
            {
                <div class="color-info">
                    <img src="~/images/colors_peru/@item.file" alt="" />
                    <p class="">@item.name</p>
                    <l>(@(item.amount > 0 ? "в наличии" : "под заказ"))</l>
                </div>
            }
        </div>
    </div>
</div>
<!---->
<div class="blog" id="blog">
    <h3>Размеры и цены</h3>
    <small></small>
    <p class="subtitle"></p>
    <div class="container">
        <div class="col-md-6">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/cap_beatrice.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка Beatrice (классическая)</h4>
                    <span></span>
                    <p>
                        Эта модель выполнена из перуанской шерсти и будет отличным выбором для ценительниц стиля Soft Natural.
                        Модель без лишних деталей, проста, лаконична и в тоже время  станет яркой деталью образа.
                        Размеры: №1 - 52-54, №2 - 55-57, №3 - 57-59
                        При оформлении заказ , пожалуйста, указывайте нужный размер и цвет изделия из нашей палитры!
                    </p>
                    <div class="icons">
                        3500 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_OrderFormPartial", Model.Colors_Peru)
