@model PledDream.Models.MainViewModel

@{
    Layout = "~/Views/Shared/_LayoutShort.cshtml";
    ViewBag.Title = "Женские вязаные шапки из шерсти в магазине Pled Dream";
}

<meta name="description" content="Шапки зимние вязаные женские купить, заказать по доступной цене. Доставка по Москве и всей России. Заходите!
" />

<div class="blog">
    <h1>Шапки вязаные женские</h1>
    <small></small>
    <p class="subtitle">Модные вязаные шапки по выгодной цене</p>
    <div class="container">
        <div class="col-md-12">
            <p>
                Мы хотим познакомить Вас с по-настоящему драгоценной пряжей из шерсти
                перуанских овечек.<br />
                Что это за шерсть и зачем она нужна?<br />
                Часто кожа представительниц прекрасного пола отличается повышенной
                чувствительностью к самым разным материалам и составам, в том числе и к
                натуральной шерсти…<br />
                Вам знакомо ощущение, когда что-то где-то колется, «кусается» или
                раздражает?<br />
                Но с наступлением холодов шерстяные вещи становятся самыми
                незаменимыми и нужными в нашем гардеробе. А хочется, чтобы они были
                еще и самыми уютными, и любимыми.<br />
                Вот и приходит на помощь к Вам наши вязаные сокровища из перуанской
                шерсти.<br />
                Перуанская шерсть – это шерсть высокогорных перуанских овец, живущих в
                Андах. Она имеет гладкую шелковистую структуру и обладает уникальными
                теплосберегающими и терморегулирующими свойствами - согревает в
                самые сильные морозы и в тоже время не допускает перегрева.
                Перуанская шерсть не колется и отлично подходит даже для людей с
                чувствительной кожей. Шапки, снуды, шарфы и кардиганы из этой шерсти
                получаются мягкие, объемные, уютные и невероятно теплые, а также
                модные и яркие.<br />
                В нашем ассортименте широкая палитра актуальных в этом сезоне оттенков
                для самых требовательных!<br />
                Выбирая лучшие по качеству и составу материалы от известных
                производителей Италии, Испании, Германии и Перу мы в ручную создаем
                каждое изделие, с душой и вниманием к деталям.<br />
                Не упустите возможность стать обладателем аксессуаров ручной работы и
                поверьте, Вы будете притягивать восхищенные взгляды!
            </p>
        </div>
    </div>
</div>

<div class="colors">
    <div class="about-colors">
        <h3>Цвета</h3>
        <small></small>
        <p class="subtitle">У нас в ассортименте около 30 потрясающих оттенков пряжи на любой вкус</p>
        <div class="container">
            @foreach (var item in Model.Colors_Peru.OrderBy(s => s.index))
            {
                <div class="color-info">
                    <img src="~/images/colors_peru/@item.file" alt="" />
                    <p class="">@item.name</p>
                    <l>(@(item.amount > 0 ? "в наличии" : "под заказ"))</l>
                </div>
            }
        </div>
    </div>
</div>
<!---->
<div class="blog" id="blog">
    <h3>Модели и цены</h3>
    <small></small>
    <p class="subtitle"></p>
    <div class="container">
        <div class="col-md-4">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/cap_beatrice.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка&nbsp;зимняя&nbsp;Beatrice</h4>
                    <span></span>
                    <p class="h250">
                        Модель выполнена из  перуанской шерсти и будет отличным выбором для ценительниц стиля Soft Natural.
                        Уютная мягкая шапка без лишних деталей, проста, лаконична и в тоже время станет яркой деталью образа.
                        При оформлении заказ , пожалуйста, указывайте нужный цвет изделия из нашей палитры!
                    </p>
                    <div class="icons">
                        3500 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/cap_angelina.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка&nbsp;зимняя&nbsp;Angelina</h4>
                    <span></span>
                    <p class="h250">
                        Модель без отворота для тех кто любит менее объемные, но не менее теплые шапки.
                        Эта зимняя шапка выполнена из толстой перуанской пряжи, ручная вязка.
                        Необычный узор в виде ромбов также является одним из достоинств этой модели.
                        Размер оверсайз.
                    </p>
                    <div class="icons">
                        3500 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/cap_Stephanie.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка&nbsp;зимняя&nbsp;Stephanie</h4>
                    <span></span>
                    <p class="h250">
                        Шикарная вязаная шапка для молодых и ярких из качественной перуанской шерсти.
                        Шапка удлиненная с ненавязчивым аккуратным узором в виде жгутов.
                        Обращаем Ваше внимание: все изделия у нас только из натуральных волокон, никакой синтетики.
                        При оформлении заказа , пожалуйста, уточняйте желаемый цвет изделия из нашей палитры.
                        Размер оверсайз.
                    </p>
                    <div class="icons">
                        3500 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/cap_Isabell.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка&nbsp;зимняя&nbsp;Isabell</h4>
                    <span></span>
                    <p class="h250">
                        Эту модель можно носить как с отворотом так и без него.
                        Эти шапки будут одинаково хорошо смотреться и с шубой, и с пальто, легко создав яркий акцент в Вашем образе.
                        При оформлении заказ , пожалуйста, указывайте нужный размер и цвет изделия из нашей палитры!
                        Шапка ручной вязки из качественной перуанской шерсти.
                        Размер оверсайз.
                    </p>
                    <div class="icons">
                        3500 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/cap_Emmanuel.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка&nbsp;зимняя&nbsp;Emmanuel</h4>
                    <span></span>
                    <p class="h250">
                        Объемный узор в виде плетёнки добавляет этой уютной зимней шапке шарма и индивидуальности.
                        В ней любая, даже самая долгая зимняя прогулка, будет комфортной и беззаботной.
                        Наши шапки из  толстой перуанской шерсти отлично защитят от любого холода, ветра и снега.
                        И в то же время не позволят перегреться, если Вы зайдете в теплое помещение - это исключительное качество изделий из натуральной шерсти.
                        Размер оверсайз.
                    </p>
                    <div class="icons">
                        3500 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/snud_Pearl.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Снуд&nbsp;Pearl</h4>
                    <span></span>
                    <p class="h250">
                        Снуд из толстой перуанской шерсти в один оборот выполнен в очень красивой жемчужной вязке.
                        Он отлично будет сочетаться с любой шапкой из нашей коллекции.
                        Теплый и уютный аксессуар для современных активных девушек.
                        Размеры снуда:
                        высота 32см
                        объем 60см
                    </p>
                    <div class="icons">
                        3500 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/snud_Diamond.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Снуд&nbsp;Diamond</h4>
                    <span></span>
                    <p class="h250">
                        Снуд в один оборот из толстой перуанской шерсти с узором "Ромбы".
                        Мягкий, комфортный снуд  будет отличным дополнением к шапке Angelina.
                        Снуды из натуральной качественной пряжи незаменимы для активной повседневной городской жизни (отлично сохраняют тепло и не позволяют перегреваться)
                        Размеры: объем - 60см, длина - 28см
                        При оформлении заказа , пожалуйста, уточняйте желаемый цвет изделия из нашей палитры.
                    </p>
                    <div class="icons">
                        3500 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/cap_Sofia.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка&nbsp;зимняя&nbsp;Sofia</h4>
                    <span></span>
                    <p class="h250">
                        Романтичная изящная модель зимней шапки с легкими вязаными косами.
                        Это классика, которая легко вплелась в современный образ - модель с удлиненной макушкой на волне популярности.
                        Идеально дополнит комплект как с курткой или пальто, так и с меховым жилетом или шубой.
                        В шапке из перуанской шерсти Вы будете яркой и стильной даже самой холодной зимой (без потери комфорта и тепла)
                        Все изделия выполнены в ручную для Вас.
                        Размер оверсайз.
                    </p>
                    <div class="icons">
                        3500 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item-container">
                <div class="blog-img">
                    <img src="~/images/items/cap_Violetta.jpg" alt="" class="img-responsive" />
                </div>
                <div class="img-desc">
                    <h4>Шапка&nbsp;зимняя&nbsp;Violetta</h4>
                    <span></span>
                    <p class="h250">
                        Для самых морозонеустойчивых девушек у нас есть необычная модель.
                        Эта шапка очень теплая, подойдет для самых холодных зимних дней.
                        Шапка из толстой перуанской шерсти с отворотом и объемным рисунком.
                        За счет данного рисунка шапка толще и теплее не только в месте отворота, но и по всей высоте до самой макушки.
                        Размер оверсайз.
                    </p>
                    <div class="icons">
                        3500 ₽
                    </div>
                    <a class="date" href="#contact" title="">Купить</a>
                </div>
            </div>
        </div>

    </div>
</div>

@Html.Partial("_OrderFormPartial", Model.Colors_Peru)
