@using PledDream.Helpers
@using PledDream.Models

@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<div id="demo_top_wrapper">
	<div id="demo_top">
			<div class="header" id="home">
				<div class="logo">
				    <b>Pled Dream</b><img src="~/images/title.png" alt="" />
                    <p style="font-weight:700">100% merino wool</p>
                    <p class="subtitle">Выбери плед своей мечты!</p>
				</div>
			</div>
		
	    </div>
</div>
<!---->
    <section id="main">
        <div class="top-news">
            <div class="container">
                <div class="about-info">
                    <h4>Новости</h4>
                    <label></label>
                    @*<p class="subtitle">
			            С Новым годом и Рождеством! <br/>
  			            Счастья, здоровья и удачи
   			            всем в наступившем году!
		            </p>
                    <p class="content">
                         
                    </p>
                    <div class="blog-img">
                        <img src="~/images/newYear.jpg" style="max-width:300px;" />
                    </div>
                    <br />*@
                    @foreach (var news in MainHelper.GetNews())
                    {
                    <label>@news.Title</label>
                    <p class="subtitle">@news.DateNews.ToLongDateString()</p>
                    <p class="content">
                        @news.Text               
                    </p>
                    <br />
                    }
                    <label></label>
                    <p class="subtitle">01 ноября 2017</p>
                    <p class="content">
                        Теперь Вы можете приобрести в нашем магазине не только изделия из мериноса.
                        Ассортимент магазина пополнили: трикотажная пряжа Biskvit и YarnArt , а также плюшевая пряжа Суфле
                    </p>
                    <a style="font-size: 28px;" href="http://pryazha.pleddream.ru">pryazha.pleddream.ru</a>

                </div>
            </div>
        </div>
        <div class="about" id="about">
            <div class="container">
                <div class="about-grids">
                    <div class="col-md-6 about-info">
                        <img src="~/images/about.jpg" alt="" />
                    </div>
                    <div class="col-md-6 about-info">
                        <h4>О нас</h4>
                        <label></label>
                        <p class="subtitle">Дарим Вам уют и душевное тепло</p>
                        <p class="content">
                            Мы давно работаем с натуральной шерстью и создаем  для Вас и Вашего дома уютные, стильные пледы крупной вязки из толстой пряжи 100% мериноса.
                            Каждое изделие выполнено вручную, неповторимо и уникально, а значит Вы станете обладателем эксклюзивного пледа, который был создан специально для
                            Вас или тех счастливчиков, которых Вы действительно любите. Наши пледы, едва поселившись у Вас, обретут статус любимцев всей семьи. И мы безмерно рады,
                            что может подарить Вам частичку тепла и нежности.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="merinos" id="merinos">
            <video src="~/images/file.mp4" autoplay loop></video>
            <div class="about-container">
                <div class="">
                    <h4>О мериносе</h4>
                    <label></label>
                    <p class="subtitle">Лучшее от природы</p>
                    <p class="content">
                        Меринос - порода тонкорунных овец, шерсть которых состоит из очень тонких, но прочных волокон. Эта шерсть по структуре представляет собой  витые тончайшие волокна,
                        пространство между которыми заполнено воздухом. Шерсть мериноса - это единственный вид шерсти,  которому не могут найти  искусственный заменитель,
                        так как она уникальна по своим качествам и составу. Поэтому  цена на изделия из мериноса всегда высокая. И стоит задуматься,
                        если Вам предлагают 100%  мериноса по низкой цене, ведь бесплатный сыр только в мышеловке...
                    </p>
                </div>
            </div>
        </div>
        <div class="about">
            <div class="container">
                <div class="about-grids">
                    <div class="col-md-6 about-info">
                        <img src="~/images/properties.jpg" alt="" />
                    </div>
                    <div class="col-md-6 about-info props">
                        <h4>Уникальные свойства мериноса</h4>
                        <label></label>
                        <p class="subtitle">Любовь с первого прикосновения</p>
                        <p class="content">
                            <i>   <l>Гипоаллергенность</l> (подходит для детей, аллергиков, людей с чувствительной кожей)</i>
                            <i>   <l>Влагопоглощение</l> (сохраняет сухость тела даже в условиях высокой влажности)</i>
                            <i>   <l>Отличная теплоизоляция</l>  (поддерживает оптимальную температуру тела)</i>
                            <i>   <l>Высокие лечебные свойства</l>  (содержанию ЛАНОЛИН - благотворно влияет на мышцы, суставы, улучшает кровообращение)</i>
                            <i>   <l>Воздухопроницаемость</l> (отсутствует  парниковый эффект, кожа дышит.)</i>
                            <i>   <l>Самоочищение</l> (за  счёт особой структуры волокна — мериносовая пряжа обладает грязеотталкивающим эффектом и эффектом самоочищения.)  Вещи из мериноса не требуют частой стирки, порой достаточно просто проветрить изделие или обработать паром.</i>
                            <i>   <l>Антибактериальные свойства</l> (содержит КРЕАТИН - препятствует развитию микроорганизмов и пылевых клещей)</i>
                            <i>   <l>Надежная защита от неприятных запахов</l>  (не впитывает запахи и сам не пахнет)</i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery" id="gallery">
                <h3>Галерея</h3>
                <small></small>
                <div class="container">
                    <ul id="flexiselDemo1">
                        <li>
                            <div class="biseller-column">
                                <img src="~/images/gallery/s1.jpg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="biseller-column">
                                <img src="~/images/gallery/s2.jpg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="biseller-column">
                                <img src="~/images/gallery/s3.jpg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="biseller-column">
                                <img src="~/images/gallery/s4.jpg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="biseller-column">
                                <img src="~/images/gallery/s5.jpg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="biseller-column">
                                <img src="~/images/gallery/s6.jpg" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="biseller-column">
                                <img src="~/images/gallery/s7.jpg" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

   
        <div id="pleds">
            @Html.Partial("pleds", XMLHelper.Get<MainViewModel>())
        </div>


    </section>	

