@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<div id="demo_top_wrapper">
    <div class="header-small">
        <div class="logo-small">
            <b>Pled Dream</b><img src="~/images/title.png" alt="" />
            <p style="font-weight:700">100% merino wool</p>
        </div>
    </div>
</div>

<div>
    @RenderBody()
</div>
                

