@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#sendBtn").click(function () {
            var captcha = grecaptcha.getResponse();
            if (captcha && captcha.length > 0) {
                SendOrder();
            }
            else {
                alert("Подтвердите что Вы не робот!");
            }
        });

        $(".blog .date").click(function () {
            var txt = $(this).parent().find("h4").text();
            $("#message").val(txt);
        });
    });

    function ToggleLoader(if_show)
    {
        if (if_show) {
            $(".loaderArea").addClass('loading');
        }
        else {
            $(".loaderArea").removeClass('loading');
        }

    }

    function SendOrder() {
        var email = $("#address").val().trim();
        var name = $("#name").val().trim();
        var phone = $("#phone").val().trim();
        var message = $("#message").val().trim();
        var color = $("#sel-color-form").val();

        if (name.length == 0) {
            $("#name").addClass("error").focus();
            return;
        }
        if (phone.length == 0) {
            $("#phone").addClass("error").focus();
            return;
        }
        if (email.length == 0) {
            $("#address").addClass("error").focus();
            return;
        }
        if (message.length == 0) {
            $("#message").addClass("error").focus();
            return;
        }

        $("#address").removeClass("error");
        $("#name").removeClass("error");
        $("#phone").removeClass("error");
        $("#message").removeClass("error");

        var text_result = 'Ваш заказ отправлен! <br><br> В ближайшее время мы обязательно свяжемся с Вами для уточнения деталей заказа.';

        $.ajax({
            type: 'POST',
            url: '/Home/SendOrder',
            data: { email, name, phone, message, color},
            dataType: 'json',
            async: true,
            success: function (response) {
                if (response.Result == 1)
                    text_result = "Ваш заказ отправлен! <br><br> В ближайшее время мы обязательно свяжемся с Вами для уточнения деталей заказа.";
                else
                    text_result = "Ошибка при отправлении заказа! <br><br> Возможно, Вы указали неверный адрес электронной почты.";

                try {
                    yaCounter44276064.reachGoal('ORDER');
                } catch (e) { }
            },
            error: function () {
                text_result = "Ошибка при отправлении заказа! <br><br> Возможно, Вы указали неверный адрес электронной почты.";
            }
        });

        if (text_result.length > 0) {
            $("#dialogContainer").html(text_result);
            $("#dialogContainer").dialog({
                width: 350,
                height: 250,
                modal: true,
                title: "Pled Dream",
                buttons: {
                    Ok: function () {
                        $("#address").val('');
                        $("#name").val('');
                        $("#phone").val('');
                        $("#message").val('');
                        $("#sel-color-form").val('');

                        $(this).dialog("close");
                    }
                },
                show: {
                    effect: "fade",
                    duration: 200
                },
                hide: {
                    effect: "fade",
                    duration: 200
                },
                open: function() { $(".ui-dialog-titlebar-close").hide(); }
            });
        }
    }
</script>

<div>
    @RenderBody()
</div>
                
<div id="dialogContainer" style="display:none;"></div>
