@model IEnumerable<PledDream.Models.Color>

<div class="contact text-center" id="contact">
    <h3>Форма заказа</h3>
    <i class="line"></i>
    <p class="subtitle">Ваша мечта- наш плед!</p>
    <div id="mail" class="form">
        <input id="name" type="text" placeholder="Ваше имя" required />
        <input id="phone" type="text" placeholder="Телефон" required />
        <input id="address" type="email" placeholder="E-mail" required />
        <textarea id="message" placeholder="Комментарий"></textarea>
        @if (Model != null && Model.Any())
        {
            <select id="sel-color-form" name="colors" required>
                <option value="" disabled selected style='display:none;'>Выберите цвет</option>

                @foreach (var item in Model.Where(s => s.amount > 0))
                {
                    <option value="@item.name">@item.name</option>
                }
            </select>
        }
        <input type="button" id="sendBtn" class="btn btn-success" value="Отправить заказ" />
    </div>
</div>
